* {
    font-family:  Arial, Helvetica, sans-serif;
    /* background-color: #313131; */
    color: white;
    padding: 0px;
    border: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    background-color: #333333;
    padding: 0px;
    flex: 1;
}

footer {
    background-color: #1b1b1b;
    padding: 0px;
    flex: 0 50px;
}

header {
    background-color: #1b1b1b;
    padding: 0px;
    flex: 0 100px;
}

h1, h2, h3 {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: #e71151;
    text-align: center;
    padding: 15px;
}

ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

li {
    flex: 1;
    list-style-type: none
}

.nav-item {
    /* background-color: red; */
}

.nav-item.active {
    background-color:red;
}

.nav-link {
    background-color: #e71151;
    color: white;
    
}

.nav-link:active {
    background-color: blue;
    color: white;
}

