* {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #1b1b1b;
    color: white;
    padding: 5px;
    border: none;
}

main {
    background-color: #1b1b1b;
    
}

h1, h2, h3 {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: #e71151;
    text-align: center;

}

ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

li {
    flex: 1;
    list-style-type: none
}

.nav-item {
    /* background-color: red; */
}

.nav-item.active {
    background-color:red;
}

.nav-link {
    background-color: #e71151;
    color: white;
    
}

.nav-link:active {
    background-color: blue;
    color: white;
}

