

:root {
    --primary: #e71151;
    /* --primary: #0fa86e; */
    --primary-dark: #b40c3e;
    /* --primary: #298ddf; */
    --secondary: #eeeeee;
    --panel: rgb(85, 85, 85);
    --panel-border: rgb(46, 46, 46);
    --header-footer: #1b1b1b;
    --background: #333333;
    --word-panel: var(--primary);
    --word-panel-border: var(--primary-dark);
    --button: var(--primary);
    --button-hover: var(--primary-dark);
  }

* {
    font-family:  Arial, Helvetica, sans-serif;
    /* background-color: #313131; */
    color: var(--secondary);
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

main {
    background-color: var(--background);
    padding: 0px;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* min-height: calc(70vh + 100px); */
    margin-top: 115px;
}

footer {
    background-color: var(--header-footer);
    padding: 0px;
    display: flex;
    flex: 0 50px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}

footer p, footer a {
    margin: 5px;
}

header {
    background-color: var(--header-footer);
    padding: 0px;
    flex: 0 100px;
    position: fixed;
    width: 100%;
    margin: 0px;
}

.shadow {
    background-image: linear-gradient(to bottom, var(--panel), var(--background));
    width: 100%;
    height: 10px;
}

h1 {
    font-size: 9px;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: var(--primary);
    text-align: center;
    padding: 15px;
}

h2 {
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: var(--primary);
    text-align: center;
    padding-top: 25px;
}

h3 {
    font-size: 1px;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: var(--secondary);
    text-align: center;
    padding-top: 0px;
}

.panel {
    background-color: var(--panel);
    border-radius: 25px;
    box-shadow: 0 0 20px #1d1d1d;
    /* border: 5px solid var(--panel-border); */
    /* border: 5px solid var(--primary); */
}

ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

li {
    flex: 1;
    list-style-type: none
}

#nav-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.button {
    background-color: var(--panel); 
    color: var(--secondary); 
    border: 0px solid var(--background);
    border-bottom: none;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    flex: 1;
    transition-duration: 0.2s;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.button-active {
    background-color: var(--primary); 
    color: var(--secondary); 
    border: 0px solid var(--background);
    border-bottom: none;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    flex: 1;
    transition-duration: 0.2s;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.button:hover {
    background-color: var(--secondary);
    color: var(--header-footer);
}

.basic-button {
    background-color: var(--button); 
    color: var(--secondary);
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 15px;
    margin: 5px;
}

.basic-button:hover {
    background-color: var(--button-hover);
}

label {
    padding: 0px;
    font-size: 1.25em;
    margin: 0px;
}

#login-box {
    align-items: center;
    justify-content: center;
    margin: auto;
    /* width: 50%; */
    text-align: center;
    padding: 50px;
}

input[type=text], input[type=password], select {
    width: 45%;
    min-width: 200px;
    padding: 10px 12px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--secondary);
    background-color: var(--background);
}

input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 7px var(--secondary);
}

#question-bar {
    /* height: 38px;
    padding: 10px;
    margin-right: 15px; */
}

 #login-button {
     margin-top: 25px;
 }

 #login-panel {
     margin: auto;
     margin-top: 70px;
     width: 300px;
 }

 #about-text {
     padding: 25px;
 }

 #about-panel {
     max-width: 600px;
     margin: auto;
     margin-top: 70px;

     font-size: 1.15em;
 }

#leaderboard-panel {
    padding: 0px;
    padding-bottom: 25px;
    
    max-width: 600px;
    min-width: 300px;
    /* margin: calc(15vw + 25px); */
    margin: auto;
    width: calc(70vw);
    height: calc(100vh - 300px);
    margin-top: 15px;
}

#leaderboard-table {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 330px);
}

#top-table {
    display: flex;
    flex-direction: column;
}

#scroll-table {
    height: calc(100vh - 385px);
    overflow-y: auto;
}

#leaderboard-header {
    margin-top: 25px;
    margin-bottom: 0px;
}

#leaderboard-table tr:nth-child(even){background-color: #525252;}
#leaderboard-table tr:nth-child(odd){background-color: #5f5f5f;}
#leaderboard-table tr:hover {background-color: #686868;}

#top-row th {
    /* color:var(--primary); */
    margin: 15px 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    overflow-x: hidden;
    white-space: nowrap;
}

#top-row {
    background-color: var(--panel);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#leaderboard-table tr, #top-table tr {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#leaderboard-table td {
    /* width: 50%; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.leaderboard-username {
    flex: 1;
    text-align: left;
}

.leaderboard-words {
    flex: 0.5;
    text-align: center;
}

.leaderboard-easy {
    flex: 0.5;
    text-align: center;
}

.leaderboard-medium {
    flex: 0.5;
    text-align: center;
}

.leaderboard-hard {
    flex: 0.5;
    text-align: center;
}

.leaderboard-date {
    flex: 0.75;
    text-align: center;
}  

#player-info {
    width: 33%;
    margin: 25px;
    padding: 25px;
    text-align: left;
}

#player-info ul {
    flex-direction: column;
    display: flex;
    text-align: left;
}

#player-info-title {
    font-size: 2vw;
    padding-bottom: 15px;
}

#player-info-players {
    text-align: center;
    overflow-y: auto;
    height: calc(100vh - 530px);
    min-height: 55px;
    font-size: 1.25vw;
}

#word-display {
    text-align: center;
    width: 33%;
    overflow-y: hidden;
    /* border:none; */
    font-size: 1.25vw;
    margin-top: 25px;
    margin-bottom: 25px;
    /* background-color: #333333; */
    background-color: var(--word-panel);
    /* border: 5px solid var(--word-panel-border); */
    box-shadow: 0 0 20px var(--word-panel-border);
    max-height: 300px;
}

#word-display h3 {
    font-size: 2.5vw;
    margin-top: 15px;
}

#difficulty-display {
    color: rgb(255, 47, 47);
    color: rgb(112, 255, 77);
    color: rgb(255, 228, 77);
}

#word-display img {
    
}

#answer-log {
    width: 33%;
    margin: 25px;
    padding: 5px;
    padding-left: 0px;
    text-align: center;
    /* height: calc(45% + 15vh); */
}

#answer-log-answers {
    text-align: center;
    overflow-y: auto;
    height: calc(100vh - 530px);
    min-height: 55px;
    font-size: 1.25vw;
}

#answer-log ul {
    flex-direction: column;
    display: flex;
    text-align: left;
}

#answer-log-title {
    font-size: 2vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#questions-answered {
    padding: 0px;
    font-size: 1.5vw;
}

#word-guess {
    text-align: center;
    margin: 25px;
    margin-top: 0px;
    padding: 25px;
}

/* #play-main {
    background-color: #333333;
    padding: 0px;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */

@media screen and (max-width:800px) {
    #main-play {
        flex-direction: column;
        display: flex;
        height: calc(100vh - 345px);
        min-height: 200px;
        margin-top: 25px;
        overflow-y: auto;
    }

    #player-info {
        margin: auto;
        height: 20vh;
        max-height: 200px;
        width: 90%;
        order: 1;
    }

    #player-info-players {
        height: calc(100vh - 100px);
        max-height: 70px;
    }

    #word-display {
        margin: auto;
        height: 70px;
        width: 250px;
        order: 0;
    }

    #answer-log {
        margin: auto;
        height: 20vh;
        max-height: 200px;
        width: 90%;
    }

    #answer-log-answers {
        height: calc(100vh - 100px);
        max-height: 70px;
    }
}

@media screen and (min-width:800px) {
    #main-play {
        flex-direction: row;
        display: flex;
        height: calc(100vh - 345px);
        min-height: 200px;
        margin-top: 25px;
    }
}